server {
  listen 80;

  server_name {{ domain_name }};

  location / {
   root /srv/app.syberiayoubear.devops.srwx.net;
   index index.html;
  }

  location /api/sum/ {
   proxy_pass http://localhost:8080/sum/;
  }

  location /api/diff/ {
   include fastcgi_params;
   fastcgi_param SCRIPT_FILENAME /srv/app.syberiayoubear.devops.srwx.net/phpapp/app.php;
   fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
  }
}
